<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>WordWall</title>
        <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/assets/images/logos/favicon_w.ico" type="image/x-icon">
        <link rel="icon" href="/assets/logos/images/favicon_w.ico" type="image/x-icon">

    </head>
    <body>

<body>

    <div class="modal_position">
        <div class="modal">
            <div class="modal-box">
                <div class="close-modal-cross">
                  <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
                </div>
                  <div class="modal-content">
                     <div class="modal-title">créditos</div>
                     <div class="modal-text">
                       <p>aplicación de <a href="#" target="_blank"><img class="e_logo" src="assets/images/logos/elab_logo_black.svg"/></a>, desarrollada por el Grupo Internet de Nueva Generación de la UPM, con el apoyo institucional del INCIBE, el CRIF las Acacias y Orange.</p>
                     </div>
                     <div class="logos">
                        <a href="http://www.upm.es/" target="_blank"><img class="logo upm_logo" src="assets/images/logos/upm_logo.png"/></a>
                       <a href="https://www.orange.es/" target="_blank"><img class="logo orange_logo" src="assets/images/logos/orange_logo.png"/></a>
                       <a href="https://www.incibe.es/" target="_blank"><img class="logo incibe_logo" src="assets/images/logos/incibe_logo.svg"/></a>
                       <a href="http://crif.acacias.educa.madrid.org" target="_blank"><img class="logo crif_logo" src="assets/images/logos/crif_logo.png"/></a>
                     </div>
                     <div class="modal-title">licencia</div>
                     <div class="modal-text">
                       <p>esta obra está bajo una <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional.</a> <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img class="license_logo" src="assets/images/logos/license.png"/></a></p>
                     </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="dark-opacity"></div>

    <div id="container">

        <div class="main_header">
            <div class="app_logo">
              <img class="definitions_logo" src="/assets/images/logos/wordwall_logo.svg"/>
              <img class="type_logo" src="/assets/images/logos/internet.svg"/>
            </div>
            <div class="elab">
                <p class="text_elab"></p>
                <img class="elab_logo" src="/assets/images/logos/elab_logo_white.svg"/>
            </div>
        </div>

        
        <div class="control_box">
            <div class="control_bar">

                <div class="control_text">
                    <div class="start_game">
                      <span class="start_game_text"></span>
                      <img class="control control_start svg" id="start_button" src="/assets/images/icons/start.svg"/>
                    </div>
                  <div class="credits"></div>
                </div>

                <div class="controls_menu hide">
                    <span class="control control_info"><img class="svg" src="/assets/images/icons/info.svg"/></span>
                    <span class="control control_progress"><img class="svg" src="/assets/images/icons/progress.svg"/></span>
                    <span class="control control_reset"><img class="svg" src="/assets/images/icons/reset.svg"/></span>
                    <span class="control control_stop"><img class="svg" src="/assets/images/icons/stop.svg"/></span>
                    <span class="control control_fullscreen" id="enterfullscreen"><img class="svg" src="/assets/images/icons/full_screen.svg"/></span>
                    <span class="control control_nofullscreen hide" id="exitfullscreen"><img class="svg" src="/assets/images/icons/no_full_screen.svg"/></span>
                </div>


              <div class="controls_menu_mob hide">
                <div class="control_main">
                    <span class="control control_burger"><img class="svg" id="burger_button" src="/assets/images/icons/burger.svg"/></span>
                </div>
                <div class="controls_int closed">
                    <span class="control control_info"><img class="svg" src="/assets/images/icons/info_fill.svg"/></span>
                    <span class="control control_progress"><img class="svg" src="/assets/images/icons/progress_fill.svg"/></span>
                    <span class="control control_reset"><img class="svg" src="/assets/images/icons/reset_fill.svg"/></span>
                    <span class="control control_stop"><img class="svg" src="/assets/images/icons/stop_fill.svg"/></span>
                    <!-- <span class="control control_fullscreen"><img class="svg" src="/assets/images/icons/full_screen_fill.svg"/></span>
                    <span class="control control_nofullscreen"><img class="svg" src="/assets/images/icons/no_full_screen_fill.svg"/></span> -->
                </div>
              </div>
                

                <div class="progress_score hide">
                    <div class="time_elapsed">
                      <div class="number_progress number_time">60:00</div>
                      <div class="text_progress time_text"></div>
                    </div>
                    <div class="questions_answered">
                      <div class="number_progress number_answered">0/25</div>
                      <div class="progress_bar"><div class="progress_fill"></div></div>
                    </div>
                    <div class="user_score">
                      <div class="number_progress score_number">100</div>
                      <div class="text_progress score_text"></div>
                    </div>
                </div>

            </div>
          </div>
          
        <div class="main_box">
          <p class="main_text"></p>

          <div class="main_game hide">
            <div class="word-wall">
                <div class="letter-wall owl-carousel owl-theme">
                    <div class="letter">a</div>
                    <div class="letter">b</div>
                    <div class="letter">c</div>
                    <div class="letter">c</div>
                    <div class="letter">d</div>
                    <div class="letter">e</div>
                    <div class="letter">f</div>
                    <div class="letter">f</div>
                    <div class="letter">h</div>
                    <div class="letter">i</div>
                    <div class="letter">j</div>
                    <div class="letter">l</div>
                    <div class="letter">l</div>
                    <div class="letter">m</div>
                    <div class="letter">n</div>
                    <div class="letter">o</div>
                    <div class="letter">p</div>
                    <div class="letter">p</div>
                    <div class="letter">q</div>
                    <div class="letter">r</div>
                    <div class="letter">s</div>
                    <div class="letter">t</div>
                    <div class="letter">u</div>
                    <div class="letter">w</div>
                    <div class="letter">y</div>
                </div>
            </div>

            <div class="word-def">

                <div class="wildcards">
                    <div class="w_wild w_tip">
                        <span class="w_times w_t_tip">1</span>
                        <img class="svg wildcard" src="/assets/images/icons/tip_w.svg"/>
                    </div>
                    <div class="w_wild w_two_tries">
                        <span class="w_times w_t_tries">2</span>
                        <img class="svg wildcard" src="/assets/images/icons/two_tries_w.svg"/>
                    </div>
                    <div class="w_wild w_number">
                        <span class="w_times w_t_number">1</span>
                        <img class="svg wildcard" src="/assets/images/icons/number_w.svg"/>
                    </div>
                    <div class="w_wild w_letter">
                        <span class="w_times w_t_letter">2</span>
                        <img class="svg wildcard" src="/assets/images/icons/letter_w.svg"/>
                    </div>
                </div>

                <div class="word_definition_box">
                    <div class="title_word">empieza por la a</div>
                    <div class="word_definition">apodo o pseudónimo utilizado en las redes. nombre usualmente corto y fácil de recordar</div>
                    <div class="enter_answer">
                        <div class="answer_input">
                            <input class="main_input" id="main_input" type="text" spellCheck="false" autoComplete="off">
                            <div class="check_box"><img class="svg control control_check" src="/assets/images/icons/check_fill.svg"/></div>
                        </div>
                        <div class="next_box"><img class="svg control control_next" src="/assets/images/icons/right_arrow_fill.svg"/></div>
                    </div>

                </div>
                

            </div>
              
          </div>

        </div>

    </div>

</body>
</html>
