<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>WordWall</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/assets/images/logos/favicon_w.ico" type="image/x-icon">
        <link rel="icon" href="/assets/logos/images/favicon_w.ico" type="image/x-icon">

    </head>
    <body>

<body>
    

    <!-- CREDITS MODAL-->
    <div class="modal_position">
      <div class="modal">
          <div class="modal-box">
            <div class="close-modal-cross">
              <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
            </div>
            <div class="modal-content">
              <div class="modal-title">créditos</div>
              <div class="modal-text">
                <p>aplicación de <a href="#" target="_blank"><img class="e_logo" src="assets/images/logos/elab_logo_black.svg"/></a>, desarrollada por el Grupo Internet de Nueva Generación de la UPM, con el apoyo institucional del INCIBE, el CRIF las Acacias y Orange.</p>
              </div>
              <div class="logos">
                <a href="http://www.upm.es/" target="_blank"><img class="logo upm_logo" src="assets/images/logos/upm_logo.png"/></a>
                <a href="https://www.orange.es/" target="_blank"><img class="logo orange_logo" src="assets/images/logos/orange_logo.png"/></a>
                <a href="https://www.incibe.es/" target="_blank"><img class="logo incibe_logo" src="assets/images/logos/incibe_logo.svg"/></a>
                <a href="http://crif.acacias.educa.madrid.org" target="_blank"><img class="logo crif_logo" src="assets/images/logos/crif_logo.png"/></a>
              </div>
              <div class="modal-title">licencia</div>
              <div class="modal-text">
               <p>esta obra está bajo una <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional.</a> <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img class="license_logo" src="assets/images/logos/license.png"/></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    
    <!-- START MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
            <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
          </div>
          <div class="modal-content">
             <div class="modal-title">instrucciones</div>
             <div class="modal-text">
               <p>para comprobar una palabra pulsa intro o haz click en el botón de check. tienes un intento, pero puedes ayudarte de los comodines si te atascas. los controles son muy sencillos:</p>

               <div class="task-list">
                  
               </div>
               <ul class="icon_list">
                <li><img class="control control_info" src="/assets/images/icons/info.svg"/>muestra las instrucciones</li>
                <li><img class="control control_progress" src="/assets/images/icons/progress.svg"/>muestra el progreso</li>
                <li><img class="control control_reset" src="/assets/images/icons/reset.svg"/>reinicia la prueba</li>
                <li><img class="control control_stop" src="/assets/images/icons/stop.svg"/>finaliza la prueba</li>
                <li><img class="control control_fullscreen" src="/assets/images/icons/full_screen.svg"/>modo pantalla completa</li>
               </ul>
             </div>
            <div class="modal-actions">
              <div class="btn btn-red">cerrar</div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- INFO MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
            <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
          </div>
          <div class="modal-content">
           <div class="modal-title">instrucciones</div>
            <div class="modal-text">
              <p>para comprobar una palabra pulsa intro o haz click en el botón de check. tienes un intento, pero puedes ayudarte de los comodines si te atascas. los controles son muy sencillos:</p>

              <ul class="icon_list">
                <li><img class="control control_info" src="/assets/images/icons/info.svg"/>muestra las instrucciones</li>
                <li><img class="control control_progress" src="/assets/images/icons/progress.svg"/>muestra el progreso</li>
                <li><img class="control control_reset" src="/assets/images/icons/reset.svg"/>reinicia la prueba</li>
                <li><img class="control control_stop" src="/assets/images/icons/stop.svg"/>finaliza la prueba</li>
                <li><img class="control control_fullscreen" src="/assets/images/icons/full_screen.svg"/>modo pantalla completa</li>
              </ul>
            </div>
            <div class="modal-actions">
              <div class="btn btn-red">cerrar</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <!-- PROGRESS MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
           <div class="close-modal-cross">
              <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
            </div>
            <div class="modal-content">
              <div class="modal-title">progreso de la prueba</div>
                <div class="modal-text">
                  <p>palabras contestadas 0/25</p>
                  <div class="task-list">
                    
                  </div>
                </div>
              <div class="modal-actions">
                <div class="btn btn-red">cerrar</div>
              </div>
            </div>
          </div>
      </div>
    </div>

    
    <!-- RESET MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
            <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
          </div>
          <div class="modal-content">
            <div class="modal-title">reiniciar la prueba</div>
              <div class="modal-text">
                <p>¿estás seguro de que quieres reiniciar la prueba? esta acción eliminará todo tu progreso.</p>
              </div>
            <div class="modal-actions">
              <div class="btn btn-red">cancelar</div>
              <div class="btn btn-green">aceptar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- STOP MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
            <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
          </div>
          <div class="modal-content">
            <div class="modal-title">finalizar la prueba</div>
              <div class="modal-text">
                <p>¿estás seguro de que quieres reiniciar la prueba? todavía tienes preguntas sin contestar.</p>
              </div>
            <div class="modal-actions">
              <div class="btn btn-red">cancelar</div>
              <div class="btn btn-green">aceptar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


    <!-- FINAL MODAL-->
    <div class="modal_position">
      <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
              <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
            </div>
           <div class="modal-content">
              <div class="modal-title modal-title-end">¡enhorabuena! terminaste</div>
                <div class="modal-text">
                  <div class="final_score">
                    <div class="individual_score"><span class="number_score">60:00</span> <span class="text_score">tiempo</span></div>
                    <div class="individual_score"><span class="number_score">0/25</span> <span class="text_score">aciertos</span></div>
                    <div class="individual_score"><span class="number_score">100</span> <span class="text_score">puntos</span></div>
                  </div>
                  <p>eres un crack, ¡a ti no hay quien te engañe! sabemos que no necesitas que te enseñemos uso seguro TIC e internet, pero aquí te dejamos un pequeño vídeo por si quieres saber más:</p>
                  <div class="responsive_video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nYh-n7EOtMA" frameBorder="0" allow="autoplay; encrypted-media" allowFullScreen></iframe>
                  </div>
                </div>
              <div class="modal-actions">
                  <div class="btn btn-red">reiniciar</div>
                  <div class="btn btn-red">terminar</div>
                <div class="btn btn-green">ver respuestas</div>
              </div>
           </div>
        </div> 
      </div>
    </div>
    




    <div class="dark-opacity"></div>

    

</body>
</html>
