
//----------- MAIN BOX GAME----------------

.main_box
  .main_game
    position: relative
    +flex
    .word-wall
      +flex
      justify-content: center
      width: 40%
      height: calc(100vh - 14.5em)
      background-color: $background2
      .letter-wall
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        width: 90%
        margin: auto auto
        .letter
          +flex
          justify-content: center
          font-size: calc(3vw + 1em)
          line-height: 0
          color: $maincolor
          background-color: $basic
          width: 5vw
          height: 5vw
          margin-right: .3em
          margin-bottom: .3em
          +hand_cursor
          +transition_default
          &:hover
            +hover_scale
            +transition_default
          &:nth-child(5n)
            margin-right: 0
          &:nth-child(21), &:nth-child(22), &:nth-child(23), &:nth-child(24), &:nth-child(25)
            margin-bottom: 0
          &.active
            background-color: $background
            +transform(scale(1.3,1.3))
          &.wrong
            background-color: $wrong
          &.right
            background-color: $right
    .word-def
      width: 50%
      margin: auto 4em
      .wildcards
        position: absolute
        top: 3em
        right: 3em
        +flex
        text-align: right
        justify-content: flex-end
        .w_wild
          position: relative
          +transition_default
          .w_times
            +flex
            justify-content: center
            position: absolute
            top: -.5em
            right: -.5em
            font-size: .8em
            width: 1.5em
            height: 1.5em
            border-radius: 1em
            background-color: $secondarycolor
          .wildcard
            margin-left: .8em
            width: 3em
            height: 3em
            +hand_cursor
            path
              fill: $background
          &:hover
            +hover_opacity
            +transition_default

      .word_definition_box
        color: $background
        .title_word
          font-size: calc(3.8vw + 1em)
        .word_definition
          font-size: calc(1vw + 1em)
          margin-top: 1em
          font-family: $HelveticaRegular
        .enter_answer
          +flex
          justify-content: center
          margin-top: 2em
          height: 5em
          .answer_input
            +flex
            justify-content: center
            width: 90% 
            height: inherit
            background-color: $secondarycolor
            margin-right: .5em
            .main_input
              +flex
              width: 85% 
              color: white
              font-family: $HelveticaBolder
              border: none
              background-color: transparent
              font-size: calc(2.5vw + 1em)
              padding: .2em .5em
            .check_box
              .control_check
                width: 3em
                height: 3em
                +hand_cursor
          .next_box
            +flex
            justify-content: center
            width: 10%
            height: inherit
            background-color: $secondarycolor
            .control_next
              margin: 0
              width: 3em
              height: 3em
              +hand_cursor



//-------------- OWL-CAROUSEL------------------

.owl-theme .owl-nav, .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot
  margin: 0

.owl-theme .owl-nav.disabled + .owl-dots
  margin-top: -.5em

.owl-theme .owl-nav [class*='owl-']:hover, .owl-theme .owl-nav [class*='owl-']
  background: transparent

div.owl-prev, div.owl-next
  opacity: .4
  z-index: 100
  margin: 0


@media (max-width: $media4)
  
  .main_box
    .main_game
      .word-wall
        height: calc(100vh - 13em)
      .word-def
        .wildcards
        .word_definition_box
          .enter_answer
            .answer_input
              width: 85%
              .check_box
                .control_check
            .next_box
              width: 15%
              .control_next
                margin: 0



@media (max-width: $media4) and (orientation: portrait)
  
  .main_box
    .main_game
      +column-flex
      .word-wall
        margin-top: 13em
        width: 100%
        height: auto
        background-color: transparent
        .letter-wall
          width: 85%
          font-size: calc(4vw + 1.5em)
          .letter
            width: 13vw
            height: 13vw
      .word-def
        width: 70%
        margin-top: 4em
        .wildcards
          font-size: calc(.5vw + 1em)
        .word_definition_box
          font-size: calc(1.5vw + 1em)
          .enter_answer
            height: 4em
            .answer_input
              width: 80%
              .check_box
                .control_check
                  font-size: .9em
            .next_box
              width: 20%
              .control_next
                margin: 0
                font-size: .9em




@media (max-width: $media7) and (orientation: portrait)
  
  .main_box
    .main_game
      margin-top: 3em
      .word-wall
        margin-top: 10em
        height: auto
        .letter-wall
          width: 85%
          font-size: calc(4vw + 1.5em)
          .letter
            width: 16vw
            height: 16vw
      .word-def
        width: 80%
        margin-top: 2em
        .wildcards
          font-size: calc(.5vw + .8em)
        .word_definition_box
          font-size: calc(1.5vw + 1em)
          .enter_answer
            height: 3.5em
            .answer_input
              .check_box
                .control_check
                  font-size: .8em
                  margin-right: .6em
            .next_box
              .control_next
                font-size: .8em



@media (max-width: $media8)
  
  .main_box
    .main_game
      margin-top: 0


@media (max-width: $media12) and (orientation: portrait)

  .main_box
    .main_game
      margin-top: 0
      .word-wall
        margin-top: 6em
        height: auto
        .letter-wall
          width: 45%
          font-size: calc(4vw + 1.5em)
          .letter
            margin-bottom: 0 
            width: 40vw
            height: 40vw
      .word-def
        width: 80%
        margin-top: .8em
        .wildcards
          top: 2em
          right: 2em
          font-size: 1.5vh
        .word_definition_box
          font-size: calc(1vw + .8em)
          .title_word, .word_definition
            text-align: center
          .enter_answer
            height: 3.2em
            .answer_input
              width: 85%
              .check_box
                .control_check
                  font-size: .7em
                  margin-right: .8em
            .next_box
              width: 15%
              .control_next
                font-size: .7em





