<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Webpack Boilerplate</h1>
        <h3>Replace this page with your own code</h3>
    </div>
    <div id="replaced">
      This should be replaced
    </div>
    <div id="remp">
      This should be replaced
    </div>
    <div id="output">

    </div>
    <%- include html/modal -%>
    <%- include html/modal2 -%>

</body>
</html>
