<!-- STOP MODAL-->
  <div class="modal_position" id="modalStop">
    <div class="modal">
      <div class="modal-box">
        <div class="close-modal-cross">
          <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
        </div>
        <div class="modal-content">
          <div class="modal-title modal-title-prin"></div>
            <div class="modal-text">
              <p class="modal-text-info"></p>
            </div>
          <div class="modal-actions">
            <div class="btn btn-red"></div>
            <div class="btn btn-green"></div>
          </div>
        </div>
      </div>
    </div>
  </div>