<!-- INFO MODAL-->
  <div class="modal_position" id="modalInfo">
    <div class="modal">
      <div class="modal-box">
        <div class="close-modal-cross">
          <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
        </div>
        <div class="modal-content">
         <div class="modal-title modal-title-prin"></div>
          <div class="modal-text">
            <p class="modal-text-info"></p>

            <ul class="icon_list">
              <li><img class="control control_info" src="/assets/images/icons/info.svg"/><span class="t-info"></span></li>
              <li><img class="control control_progress" src="/assets/images/icons/progress.svg"/><span class="t-progress"></span></li>
              <li><img class="control control_reset" src="/assets/images/icons/reset.svg"/><span class="t-reset"></span></li>
              <li><img class="control control_stop" src="/assets/images/icons/stop.svg"/><span class="t-stop"></span></li>
              <li><img class="control control_fullscreen" src="/assets/images/icons/full_screen.svg"/><span class="t-full"></span></li>
            </ul>
          </div>
          <div class="modal-actions">
            <div class="btn btn-red">cerrar</div>
          </div>
        </div>
      </div>
    </div>
  </div>