<!-- CREDITS MODAL-->
  <div class="modal_position" id="modalCredits">
    <div class="modal">
        <div class="modal-box">
          <div class="close-modal-cross">
            <img class="control control_cross svg" src="/assets/images/icons/cross.svg"/>
          </div>
          <div class="modal-content">
            <div class="modal-title modal-title-prin"></div>
            <div class="modal-text">
              <p class="modal-text-info"></p>
            </div>
            <div class="logos">
              <a href="http://www.upm.es/" target="_blank"><img class="logo upm_logo" src="assets/images/logos/upm_logo.png"/></a>
              <a href="https://www.orange.es/" target="_blank"><img class="logo orange_logo" src="assets/images/logos/orange_logo.png"/></a>
              <a href="https://www.incibe.es/" target="_blank"><img class="logo incibe_logo" src="assets/images/logos/incibe_logo.svg"/></a>
              <a href="http://crif.acacias.educa.madrid.org" target="_blank"><img class="logo crif_logo" src="assets/images/logos/crif_logo.png"/></a>
            </div>
            <div class="modal-title modal-title-license"></div>
            <div class="modal-text">
             <p class="modal-text-license"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
