<!-- FINAL MODAL-->
  <div class="modal_position" id="modalFinal">
    <div class="modal">
      <div class="modal-box">
        <div class="close-modal-cross">
            <img class="control control_cross svg" src="assets/images/icons/cross.svg"/>
          </div>
        <div class="modal-content">
            <div class="modal-title modal-title-end"></div>
              <div class="modal-text">
                <div class="final_score">
                  <div class="individual_score"><span class="number_score" id="final_time"></span> <span class="text_score score-time"></span></div>
                  <div class="individual_score"><span class="number_score" id="final_progress"></span> <span class="text_score score-right"></span></div>
                  <div class="individual_score"><span class="number_score" id="final_score"></span> <span class="text_score score-points"></span></div>
                </div>
                <p class="modal-text-info answerGreat"></p>
                <p class="modal-text-info answerNormal"></p>
                <p class="modal-text-info answerBad"></p>
                <!--<div class="responsive_video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/nYh-n7EOtMA" frameBorder="0" allow="autoplay; encrypted-media" allowFullScreen></iframe>
                </div>-->
              </div>
            <div class="modal-actions">
                <!-- <div class="btn btn-red btn-red-r"></div> -->
                <!-- <div class="btn btn-red btn-red-t"></div> -->
              <div class="btn btn-green" id="final_game"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
